<nav class="navbar navbar-expand-lg" id="navbar-container">
    <div class="container-fluid">
        <div id="navbar-name">
            <a href="#section1">
                JS<span>.</span>
            </a>
            <div id="navbar-social-links">
                <a href="https://github.com/sksmejn" title="Visit my GitHub!"><i class="fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/jonathan-soukaseume/" title="Add me on LinkedIn!"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/jyonsou/" title="My instagram!"><i
                        class="fab fa-instagram-square"></i></a>
                <a href="https://drive.google.com/file/d/1ZR4-VGneh9u5eKDYIBgDVFg5mXNxKbgP/view?usp=sharing" id="resume"
                    title="Download my resume!">| <i class="fas fa-download"></i></i> resume |</a>
            </div>
        </div>
        <ul>
            <li class="nav-item"><a href="#section2">About</a></li>
            <li class="nav-item"><a href="#section3">Projects</a></li>
            <li class="nav-item"><a href="#section4">Contact</a></li>
        </ul>
    </div>
</nav>