<nav class="navbar navbar-expand-lg" id="navbar-container">
    <div class="container-fluid">
        <div id="navbar-name">
            <a href="#section1">
                JS<span>.</span>
            </a>
        </div>
        <ul>
            <li class="nav-item"><a href="#section2">About</a></li>
            <li class="nav-item"><a href="#section3">Projects</a></li>
            <li class="nav-item"><a href="#section4">Contact</a></li>
        </ul>
    </div>
</nav>