<section id="section4" class="section">
    {{>nav}}

    <div class="container-fluid sub-container" id="contact-container">
        <h1>Contact Me</h1>
        <article class="sub-container">
            <p>Feel free to contact me</p>
            <div class="card">
                <form>
                    <div>
                        <label for="name">Your Name</label>
                        <br>
                        <input type="text" id="email-name">
                    </div>
                    <div>
                        <label for="title">The Subject</label>
                        <br>
                        <input type="text" id="email-title">
                    </div>
                    <div>
                        <label for="message">The Message</label>
                        <br>
                        <textarea name="message" cols="30" rows="10" id="email-body"></textarea>
                    </div>
                    <button id="email-submit" type="button">Email</button>
                </form>
            </div>
        </article>
    </div>
</section>

<script defer src="/js/section04.js"></script>