<section id="section4" class="section">
    {{>nav}}

    <div class="container-fluid sub-container" id="contact-container">
        <h1>Contact Me</h1>
        <article class="sub-container">
            Feel free to contact me
            <div class="card">
                <form>
                    <div>
                        <label for="name">Name</label>
                        <br>
                        <input type="text">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <br>
                        <input type="email">
                    </div>
                    <div>
                        <label for="message">Message</label>
                        <br>
                        <textarea name="message" cols="30" rows="10"></textarea>
                    </div>
                </form>
            </div>
        </article>
    </div>
</section>