<section id="section2" class="section">
    {{>nav}}

    <div class="container-fluid sub-container" id="section2-flex">
        <h1>About me</h1>
        <article id="section2-left-side">
            <p>
                Hello!
            </p>
            <p>
                My name is <b>Jonathan Soukaseume</b>! I am a full stack web developer, providing front-end development
                (html, css, js) and server-side development(node, express, apis, databases: sql & nosql).
            </p>
            <p>
                Being based in the Orange County area, I find myself venturing off into different worlds of cultures and
                venues through my social appetite of food, drinks, and respectful appreciations.
            </p>
            <p>
                If not losing myself in the zen of coding, I'd usually be found getting lost in the zen of nature,
                finding new spots to hike and/or fish. If not hiking or fishing then I'd be found venturing off to find
                new places to eat as a long time foodie.
            </p>
            <div id="about-familiars">
                <p>Familiarities:</p>
                <ul>
                    <li>Html5, CSS3, JavaScript ES6</li>
                    <li>Node.js, NPM</li>
                    <li>Express, Express-Sessions, Express-Handlebars</li>
                    <li>MySql, Sequelize, MongoDB, Mongoose</li>
                    <li>GitHub, GitLab, Heroku</li>
                </ul>
            </div>
        </article>
        <article id="section2-right-side">
            <img id="profile-pic" src="/images/js_profile.jpeg" alt="profile pic" height="550px">
        </article>
    </div>

    {{> footer}}
</section>