<section id="section3" class="section">
    {{>nav}}
    <div class="container-fluid sub-container" id="section3-projects">
        <h1>Projects</h1>
        <article id="section3-main-container">
            <div class="card" id="project01">
                <h5 class="card-header">
                    Pawsperity
                </h5>
                <div class="card-body"></div>
                <div class="card-footer">
                    A web app made specifically for pet owners to be able to keep track of their loved ones! Goes
                    through large amount of queries and server-side fetches.
                </div>
            </div>
            <div class="card" id="project02">
                <h5 class="card-header">
                    BlogTech
                </h5>
                <div class="card-body"></div>
                <div class="card-footer">
                    A quick blogging site where people can add/remove blogs and comment on others. Requires
                    authentication! Goes through server-side SQL queries.
                </div>
            </div>
            <div class="card" id="project03">
                <h5 class="card-header">
                    BlogTech
                </h5>
                <div class="card-body"></div>
                <div class="card-footer">
                    A site that fetches API's to create a small dictionary that mainly focuses on the etymologies of
                    certain words.
                </div>
            </div>
        </article>
    </div>
    {{> footer}}
</section>