<section id="section1" class="section">
    {{>nav}}

    <div class="sub-container">
        <h1>Hello!</h1>
        <h1>My name is</h1>
        <p id="my-name">Jonathan Soukaseume</p>
    </div>

    <div class="sub-container" id="full-stack">
        <p>I am a Full Stack Web Developer</p>
    </div>

    {{> footer}}
</section>