<section id="section3" class="section">
    {{>nav}}
    <div class="container-fluid sub-container" id="section3-projects">
        <h1>Projects</h1>
        <article id="section3-main-container">
            <div class="card">one</div>
            <div class="card">two</div>
            <div class="card">three</div>
        </article>
    </div>
    {{> footer}}
</section>