#section-footer {
    position: fixed;
    bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: bounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    from { transform: translate3d(0, 0, 0);}
    to { transform: translate3d(0, 20px, 0);}
}