#section4 nav {
    border-bottom: 1px solid white;
}

#section4 nav a {
    color: white;
}

#section4 nav span {
    color: white;
}

#contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact-container h1 {
    writing-mode: vertical-lr;
    margin-right: 0.5rem;
    letter-spacing: 0.3rem;
    color: white;
}

#contact-container article {
    color: white;
    border-left: 1px solid white;
    width: 100%;
}

#contact-container .card {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border: 0;
    padding: 1rem;
    max-width: 90%;
    margin: 0 auto;

}

#contact-container form div {
    margin: 1rem 0;
}

#contact-container input,
#contact-container, textarea {
    width: 100%;
}

#contact-container article p {
    margin: 0.5rem auto;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}