/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* General */
@import "./resets.css";
@import "./utils.css";

/* Important */
@import "./navbar.css";
@import "./media.css";

section{
    height: 100%;
    width: 100%;
    position: absolute;
    touch-action: manipulation; 
}

section#section1{
    top: 0;
    background: white;
    touch-action: manipulation; 
}

section#section2{
    top: 100%;
    background: purple;
    touch-action: manipulation; 
}

section#section3{
    top: 200%;
    background: lightseagreen;
    touch-action: manipulation; 
}

section#section4{
    top: 300%;
    background: orange;
    touch-action: manipulation; 
}
